* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 19px;
}

:root {
    --blackBg: rgb(50, 50, 50);
    --textColor : rgb(134, 32, 217);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header{
    z-index: 99;
}

.divTitle{
    text-align: center;
    color: var(--textColor);        
}
/* Banner */
#bannerContainer {
    height: 92vh;    
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#bannerDetailsContainer {
    padding-top: 90px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 53px;
    font-weight: bold;
    width: 45%;
    height: fit-content;
    /* border: 2px solid dodgerblue; */
}

#hireBtn,.visitSiteBtn {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: .7px;
    word-spacing: .7px;
    font-size: 17.7px;
    border: none;
    border-radius: 27px;
    background-color: rgb(134, 32, 217);
    margin-top: 77px;
    width: 37%;
    padding: 13px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

#hireBtn:hover,.visitSiteBtn:hover {
    background-color: rgb(110, 17, 185);
    color: white;
    text-decoration: none;
}
.visitSiteBtn{
    margin: 17px;
    font-size: 16.1px;
    text-decoration: none;
}

#bannerProfileImageContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    align-items: center;
    margin-top: 90px;
    height: 80%;
    width: 55%
}

/* socialMediaContainer */
#socialMediaContainer {            
    font-size: 37px;
    margin: 100px -5px;
    width: 100%;
    /* border: 2px solid red; */
}

#socialMediaContainer a {
    opacity: .7;
    display: inline-block;
    text-decoration: none;
    margin: 0px 19px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

#socialMediaContainer a:hover {
    opacity: 1;
    transform: scale(1.2);
}

/* Skills && Projects 🔥 */
#skillsContainer,#projectsContainer,#videosContainer{
    flex-wrap: wrap;
    padding: 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;        
}
.individualSkills,.individualProjects{
    /* background-color: rgb(246, 246, 246); */
    background-color: rgb(45, 45, 45);
    width: 31%;
    height: 300px;
    /* border: 1px solid rgb(211, 211, 211); */
    text-align: center;
}
#projectsContainer{
    gap: 30px;
}
.individualProjects{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.individualSkills span,.individualProjects span{
    color: var(--textColor);
    color: rgb(196, 86, 255);
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
.individualSkills .skillLists, .individualProjects .projectDescription{    
    list-style-type: "\2B50";
    color: rgb(76, 76, 76);
    color: white;
    font-weight: bold;
    font-size: 17.7px;
    text-align: justify;
    letter-spacing: 1px;        
    width: fit-content;
    margin: auto;
    margin-top: 20px;    
}
.individualProjects .projectDescription{    
    padding: 0px 50px;    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.individualSkills:last-of-type{
    width: 55%; 
    margin-top: 30px;   
}
.skillImageContainer,.projectImageContainer{
    padding-top: 10px;
    /* border-bottom: 1px solid red; */
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    font-weight: bold;
    color: rgb(106, 106, 106);
    border-top: .7px solid rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    text-align: center;
    width: 100%;
    letter-spacing: .7px;
    word-spacing: .7px;
}

/* Responsive site designing goes here */
@media screen and (max-width:820px) {
    html{
        font-size: 23px;
    }
    #bannerDetailsContainer {
        font-size: 43px;
        font-weight: bold;
        width: 40%;
        height: 80%;
        /* border: 2px solid dodgerblue; */
    }

    #hireBtn {        
        font-size: 21px;     
        margin-top: 77px;
        width: 80%;
    }  

    #bannerProfileImageContainer {       
        padding-right: 12px;
        align-items: center;        
        height: 80%;
        width: 60%
    }
    #bannerProfileImageContainer img{
        width: 290px;
    }

    /* socialMediaContainer */
    #socialMediaContainer {
        align-self: flex-end;
        font-size: 37px;
        margin: 60px 13px;
        width: 100%;
    }

    /* Skills Container & Project Container */   
    #skillsContainer{
        /* border: 2px solid red;         */
    }
    .individualSkills,.individualProjects{                
        width:100%!important;
        height: 450px;       
        margin: 10px auto;
    }
    .individualSkills:last-child{
        margin: 10px auto;   
    }
    .individualSkills span,.skillLists li, .individualProjects span, .projectDescription li{
        font-size: 27px;
    }    
    .individualSkills .skillImageContainer, .individualProjects .projectImageContainer{
        width: fit-content;
        height: 140px;        
        margin: auto;
    }   
    .skillImageContainer img, .projectImageContainer img{
        object-fit: contain;
        width: 100%;
    }
}

@media screen and (max-width:634px){
    html{
        font-size: 14px;
    }
    /* Banner */   
    #bannerContainer {
        flex-direction: column-reverse;        
        justify-content: center;
        align-items: center;
        /* border: 2px solid red;         */
    }
       
    #bannerDetailsContainer {        
        justify-content: center;  
        align-items: center;          
        font-size: 30px;       
        width: 100%;
        height: fit-content;     
        /* margin-top: 300px; */
        /* border: 2px solid dodgerblue;         */
    }

    .divTitle{
        padding-left: 70px;
    }
    #hireBtn {
        font-size: 21px;     
        margin: 70px 45px;
        width: 75%;
    }  

    #bannerProfileImageContainer {
        display: flex;         
        justify-content: center;
        padding-right: 12px;
        align-items: center;
        height: fit-content;
        width: 100%;       
        /* position: absolute;  */
        /* top: 10px; */
        /* left: 50px; */
        /* border: 3px solid purple; */
    }
    #bannerProfileImageContainer img{
        width: 277px;        
    }

    /* socialMediaContainer */
    #socialMediaContainer {       
        align-self: flex-start;
        position: absolute;
        display: inline;
        top: 50px;
        gap: 40px;
        left: 10px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        font-size: 35px;
    }

    .individualSkills,.individualProjects{        
        display: grid;
        place-content: center;
        place-items: center;
        height:fit-content;
        margin-left: 11px;
        padding: 10px;
    }
    .individualSkills:last-child{
        margin-left: 11px;
    }
    .individualSkills span,.individualProjects span{
        font-size: 27px;
    }        
    .skillLists li,.projectDescription li{
        font-size: 19px;
        padding: none;               
        width: 100%;
    }
    .individualProjects .projectImageContainer{
        width: fit-content;
        height: 110px;        
        margin: auto;
    }
    .projectImageContainer img{
        object-fit: cover;
        width: 100%;
    }
    footer{        
        /* background-color: rebeccapurple; */
        font-size: 14px;
    }
}