* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root {
    --blackBg: rgb(50, 50, 50);
    --textColor : rgb(134, 32, 217);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/* Header */
header {
    height: 55px;
    padding: 0px 17px;
    padding-left: 50px;
    display: flex;
    font-size: 19px;
    align-items: center;
    font-weight: bold;
    letter-spacing: .7px;
    color: black;
    border-bottom: .7px solid rgb(210, 210, 210);
}

#siteLogo {}

nav {
    position: absolute;
    right: 10px;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

header a,
nav a {
    color: rgb(1, 1, 104);
    text-decoration: none;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

nav a:hover {
    color: rgb(6, 6, 198);
}

/* Main */
main {
    /* overflow-y: auto; */
}
.divTitle{
    text-align: center;
    color: var(--textColor);        
}
/* Banner */
#bannerContainer {
    height: 92vh;
    /* border: 2px solid red;     */
    display: flex;
    flex-wrap: wrap;
}

#bannerDetailsContainer {
    padding-top: 90px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    font-size: 53px;
    font-weight: bold;
    width: 45%;
    height: fit-content;
    /* border: 2px solid dodgerblue; */
}

#hireBtn {
    cursor: pointer;
    color: white;
    font-weight: bold;
    letter-spacing: .7px;
    word-spacing: .7px;
    font-size: 17.7px;
    border: none;
    border-radius: 27px;
    background-color: rgb(134, 32, 217);
    margin-top: 77px;
    width: 37%;
    padding: 13px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

#hireBtn:hover {
    background-color: rgb(110, 17, 185);
}

#bannerProfileImageContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    align-items: center;
    /* border:2px solid red; */
    height: 80%;
    width: 55%
}

/* socialMediaContainer */
#socialMediaContainer {            
    font-size: 37px;
    margin: 100px -5px;
    width: 100%;
}

#socialMediaContainer a {
    opacity: .7;
    display: inline-block;
    text-decoration: none;
    margin: 0px 19px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: linear;
}

#socialMediaContainer a:hover {
    opacity: 1;
    transform: scale(1.2);
}

/* Skills 🔥 */
#skillsContainer{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;    
    gap: 10px;
}
.individualSkills{
    /* background-color: rgb(246, 246, 246); */
    background-color: rgb(45, 45, 45);
    width: 31%;
    height: 300px;
    /* border: 1px solid rgb(211, 211, 211); */
    text-align: center;
}
.individualSkills span{
    color: var(--textColor);
    color: rgb(196, 86, 255);
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}
.individualSkills .skillLists{    
    list-style-type: "\2B50";
    color: rgb(76, 76, 76);
    color: white;
    font-weight: bold;
    font-size: 17.7px;
    text-align: justify;
    letter-spacing: 1px;        
    /* border-top: 2px solid red; */
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.individualSkills:last-of-type{
    width: 50%;
}
.skillImageContainer{
    padding-top: 10px;
    /* border-bottom: 1px solid red; */
    display: flex;
    justify-content: center;
}
.individualSkills img{        
    /* border: 2px solid red; */
}
/* Footer */
footer {
    font-weight: bold;
    color: rgb(106, 106, 106);
    border-top: .7px solid rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    text-align: center;
    width: 100%;
    letter-spacing: .7px;
    word-spacing: .7px;
}

/* Responsive site designing goes here */
@media screen and (max-width:800px) {
    body {
        /* background-color: rgb(255, 100, 100); */
    }

    #bannerDetailsContainer {
        font-size: 43px;
        font-weight: bold;
        width: 40%;
        height: 80%;
        /* border: 2px solid dodgerblue; */
    }

    #hireBtn {        
        font-size: 21px;     
        margin-top: 77px;
        width: 80%;
    }  

    #bannerProfileImageContainer {
        /* display: flex;  */
        /* justify-content: flex-end; */
        padding-right: 12px;
        align-items: center;
        /* border:2px solid red; */
        height: 80%;
        width: 60%
    }
    #bannerProfileImageContainer img{
        width: 290px;
    }

    /* socialMediaContainer */
    #socialMediaContainer {
        align-self: flex-end;
        font-size: 37px;
        margin: 60px 45px;
        width: 45%;
    }
}

@media screen and (max-width:634px){
    /* Banner */  
    #bannerContainer {
        /* background-color: aqua; */
        flex-direction: column-reverse;        
        justify-content: center;
        align-items: center;        
    }
       
    #bannerDetailsContainer {        
        justify-content: center;            
        font-size: 30px;       
        width: 100%;
        height: fit-content;     
        margin-top: 300px;          
    }

    #hireBtn {                
        font-size: 21px;     
        margin: 70px 20px;
        width: 70%;
    }  

    #bannerProfileImageContainer {
        display: flex;         
        justify-content: center;
        padding-right: 12px;
        align-items: center;
        /* border:2px solid red; */
        height: fit-content;
        width: 100%;       
        position: absolute; 
        top: 55px;
    }
    #bannerProfileImageContainer img{
        width: 270px;
    }

    /* socialMediaContainer */
    #socialMediaContainer {       
        align-self: flex-start;
        position: absolute;
        display: inline;
        top: 25px;
        gap: 40px;
        left: -40px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        font-size: 25px;
        /* border: 2px solid red;           */
    }
}